.icon-AdminBeautifullnotify:before { content: "\f108 "; }
.icon-AdminBeautifulPopup:before { content: "\f108 "; }
.mce-ico.mce-i-visualblocks:before  { content: "\f0ae "; }
.mce-ico.mce-i-charmap:before  { content: "\f156 "; }
.mce-ico.mce-i-hr:before  { content: "\f068 "; }
.process-icon-savenstay:before { content: "\f01e "; }
